.red {
  background-color: #ff2827;
  color: #fff;
}
.white {
  background-color: #f8f8f8;
  color: #292929;
}
.green {
  background-color: #11b813;
  color: #fff;
}
grey {
  background-color: #646467;
  color: #fff;
}
darkblack {
  background-color: #916e23;
}

.biotext {
  text-align: center
}