$family-sans-serif: 'orbitron';
$body-background-color: $grey-darker;

$orange: hsl(14, 100%, 53%);
$yellow: hsl(48, 100%, 67%);
$green: hsl(212, 69%, 48%);
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(297, 82%, 64%);
$blue: hsl(252, 50%, 96%);
$purple: hsl(271, 100%, 71%);
$red: hsl(0, 100%, 55%);

